<link href="https://fonts.googleapis.com/css?family=Days+One&display=swap" rel="stylesheet">
<style>
  * {
    font-family: 'Days One', sans-serif;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
</style>
<h1>Logged in as "<%= user.user.username %>#<%= user.user.discriminator %>"</h1>
<a href='logout'><button>Log out</button></a><br>

<% if (configurableGuilds && configurableGuilds[0]) { %>

  <h2>Pick a server to edit it's configuration</h2><ul>

  <% for (var guild of configurableGuilds) { %>

    <li><a href='/?guild=<%= guild.id %>'><%= guild.name %></a></li>
    
  <% } %>

  </ul>

<% } else { %>

  <h2>You have no servers available<h2>
  <p>You can invite the bot <a href='https://discordapp.com/oauth2/authorize?client_id=591694201230721043&scope=bot&permissions=8'>here</a></p>

<% } %>