html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

table {
  height: 100%;
  width: 100%;
}

#blocklyArea {
  height: 99%;
}

form button,
form input[type='submit'] {
  font-size: 20px;
  height: 37px;
}

tr td div {
  font-size: 20px;
  display: inline-block;
}